<!DOCTYPE html>
<html >
    <head>
         <meta charset="UTF-8">
        <title>My test site</title>
        <script src="bundle.js" charset="utf-8"></script>
       
    </head>
    <body ng-app="myApp">
        <div ng-controller="mainCtrl as vm">
            <section>
                <input type="button" value="Login" ng-click="vm.test()">
                <input type="button" value="Chat" ng-click="vm.test()">
                <input type="button" value="Logout" ng-click="vm.test()">
            </section>
            <ui-view></ui-view>
        </div>
    </body>
</html>
